.btn-omni :hover{
    background-color: #191970;
}
.btn-usuario:hover {
    background-color: #6666ff;
}
.btn-edit {
    background-color: #191970;
}
.btn-exclui {
    background-color: #191970;
}
.centraliza {
    margin-right: 28px;
    margin-bottom: 25px;
    padding: 10px;
}





/* Cor padrão #3b5998 */

